mods
resourcepacks
shaderpacks
crash-reports
logs
crafttweaker.log
saves
local
llibrary
journeymap
minecraftinstance.json
usercache.json
classOut
tv-cahce
.curseclient
.hei_bookmarks.ini
knownkeys.txt
minecraftinstance.json
options.txt
patchouli_data.json
servers.dat
usercache.json
usernamecache.json